@charset "utf-8";
/* CSS Document */

.m_wraper { width:100%; margin-top:30px;}
	.zyjg_logo { width:630px; height:36px; margin:0 auto; background:url(../images/zyjg_logo.png) no-repeat;}
	
		.zyjg_bg01 { background:url(../images/zyjg_bg01.png) no-repeat;}
		.zyjg_bg02 { background:url(../images/zyjg_bg02.png) no-repeat;}
		.zyjg_bg03 { background:url(../images/zyjg_bg03.png) no-repeat;}
		.zyjg_bg04 { background:url(../images/zyjg_bg04.png) no-repeat;}
		
	/* 公共部分 */
	.zyjg_m1 { width:100%; height:320px; background:#e4eff5; clear:both;}
	.zyjg_m2 { width:100%; height:320px; background:#fff; clear:both;}
	.zyjg_mm { width:800px; height:265px; margin:0 auto;}
	.zyjg_msg { text-indent:2em; font-size:16px; line-height:24px;}
	.zyjg_bg { width:200px; height:200px; margin-top:55px;}